<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="login_register_styles.css" rel="stylesheet">
    <title>Task management</title>
</head>
<body>
    <header>
        <div>
            <h1>Task management</h1>
        </div>
    </header>
    <main>
        <div class="card" id="card">
            <h2>Login</h2>
            <input type="text" placeholder="insert your username" id="username" required>
            <input type="password" placeholder="insert your password" id="password" required>
            <button type="submit" id="submit">Login</button>
            <p>you don't have an account? <a href="/register">register</a></p>
        </div>
    </main>
    <script src="/login.js"></script>
</body>
</html>