<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Task management</title>
</head>
<body>
    <h1>Task management</h1>
    <div class="input">
        <input type="text" placeholder="insert task title" id="title">
        <input type="text" placeholder="insert task description" id="des">
        <input type="date" placeholder="insert task title" id="due-date">
        <button type="button" id="insert">insert</button>
    </div>
    <div id="tasks">

    </div>
    <script src="/task.js"></script>
</body>
</html>